* {
  margin: 0;
}
body {
  background-image: url(../images/Wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 93vh;
}
.box {
  position: relative;
  width: 320px;
  height: 650px;
  background: black;
  border-radius: 20px;
  margin: auto;
  border: 7px solid #141414;
  text-align: center;
  margin-top: 50px;
}
.b {
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 4px;
  background: white;
  left: 30%;
  border-radius: 30px;
}
#txt,
#txt1 {
  width: 90%;
  height: 16%;
  border: none;
  background: none;
  font-size: 30px;
  color: white;
}
#row button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  margin: 5px;
  font-size: 28px;
  background: #333;
  color: white;
}
#row .b1 {
  background: #a6a6a6;
  color: #141414;
}
#row .b2 {
  background: #ff9403;
  color: white;
}
#row .b3 {
  width: 134px;
  height: 60px;
  border-radius: 43px;
}
